.header {
  background-color: #051518;
  color: #fff;
  padding: 30px 0 0 30px;
  margin: 0;
}

.title {
  font-size: 2rem;
  font-weight: 600;
  margin: 0;
}

.subtitle {
  font-size: 1rem;
  font-weight: 400;
  margin: 0;
}

.container {
  display: flex;
  background-color: #051518;
  height: 25vh;
  align-items: center;
  justify-content: center;
  padding-bottom: 30px;
}

.display-component {
  max-width: 100%;
  justify-content: center;
  padding: 10px 0;
}

.marquee {
  display: flex;
  flex-direction: column;
  padding: 10px 0;
}

.marquee-item {
  margin: 0 10px;
}
